html{
	//height: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
    background-color: #262626;
	color: #ffffff;

}
body{
	margin: 0;
	padding: 0;
	//background: #262626;
	min-height:1100px;
	//text-align: center;
}
/*/////////////////////////////////*/

/*//////////////header/////////////*/
header{
	position: static;
	display: inline-block;
	width: 100%;
	height: 100px;
	margin: 0;
	top: 0;
	left: 0;
	text-align: center;
}
.foot{
	position: fixed;
	display: block;
	width: 100%;
}
.foot nav{
	display: inline-block;
	margin-top: 0;
	overflow: hidden;
	background-color: #333333;
	border-radius: 10px;
	text-align: center;
	width: 80%;
	padding: 0 2px;
}
.foot a{

	display: inline-block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 5px;
	text-decoration: none;
	width: 80px;
	margin: 10px 2px;
	float: left;
	max-height: 100px;
	transition: background-color 0.5s;
	border-radius: 10px;
}
.foot a:hover{
	color: #E6E6FA;
	background: #5a5a5a;
	border-radius: 10px;
}

#order{
	background-color: #6e6243;
	color: #f2f2f2;
	border-radius: 10px;
	float: right;
	width: 4cm;
}
#order:hover{
	color: #ffffff;
	background: #bda874;
	border-radius: 10px;
}

/*----------------------------------------*/

.MobileFoot{
	display: none;
	text-align: left;
	padding: 0;
}
.MobileFoot nav{
	padding-bottom: 10px;
}
.MobileFoot a{
	display: inline-block;
	text-decoration: none;
	color: white;
	border: solid rgba(245, 238, 220, 0.25) 1px;
	border-radius: 10px;
	background-color: #333333;
	width: -moz-available;
	width: -webkit-fill-available;
	padding: 10px 20px;
	margin: 5px 10px;
}
.MobileFoot a:focus{
	border-radius: 10px;
}
.burger, .close{
	display: inline-block;
	width: auto;
	height: auto;
	padding: 5px;
}
/*/////////////////////////////////*/

#lang{
	right: 10px;
	top: 5px;
	position: absolute;
}

#lang a{
	text-decoration: none;
	color: #E6E6FA;
}

.center{
	text-align: center;
	max-width: 1200px;
	min-width: 284px;
	margin: 0 auto;
	word-wrap: break-word;
}


/*////////////Button///////////////*/
.InTitle{
	width: 49%;
	display: inline-block;
	vertical-align: top;
	margin-top: 13%;
}

.rab{
	display: flex;
	text-align: center;
	margin: 0 auto;
	padding: 0;
	width: 80%;
	flex-wrap: wrap;
    justify-content: center;
}

.InTitle li{
	background-color: #333333;
	width: max-content;
	list-style-type: none;
	text-align: center;
	border-radius: 10px;
	margin: 4px;
	line-height: 1em;
	transition: 500ms;
}

.InTitle a{
	text-decoration: none;
	color: #f2f2f2;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
}


.InTitle li:hover{
	color: #E6E6FA;
	background: #5a5a5a;
	border-radius: 10px;

}

.InTitleImg{
	display: inline;
}
.InTitleImgMobil{
	display: none;
	width: 100%;
}
/*/////////////////////////////////*/

/*////////////advert///////////////*/
.advert{
	width: 100%;
	display: block;
	text-align: center;
	//margin-bottom: 55px;
}
.advert ul{
	display: flex;
	flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-start;
	padding-left: 0;
}
.advert li{
	width: 25%;
	list-style-type: none;
	display: flex;
	justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
	text-align: center;
	//width: 252px;
	//height: 252px;
	//line-height: 2px;
	margin: 5px;
}
.advert h2{
	background: rgb(110,98,67);
	background: linear-gradient(0deg, rgba(110,98,67,1) 0%, rgba(189,168,116,1) 67%);	display: flex;
	align-content: center;
    justify-content: center;
    align-items: center;
	width: 80px;
	height: 80px;
	//padding: 10px;
	border-radius: 100%;
	border: none;
	margin-bottom: 15px;
	font-size: 16pt;
}
/*////////////////////////////////*/

.serviceTabl{
}

.serviceAndPrise{
	display: block;
	margin-bottom: 5px;
	border: solid #b9ac8d 2px;
	border-radius: 5px;
	padding: 5px 15px;
	font-size: 20px;
	transition: box-shadow 0.3s;
}

.serviceAndPriseHref{
	text-decoration: none;
	color: #262626;
}

.serviceAndPrise:hover{
	box-shadow: 1px 1px 10px rgba(248, 197, 36, 0.78);
}

.service{
	display: inline-block;
	min-width: 50%;
}

.price{
	display: inline-block;
}

.cont{
	min-height: 100vh;
	max-width: 1200px;
	background-color: white;
	color: #262626;
	margin: 0 auto;
	padding: 10px 5px;
	text-align: justify;
}


/*////////////////////////////////*/


.imgDetail{
	float: right;
	margin: 20px 10px 10px;
}

.imgDetail img{
	width: 400px;
}

.priceDetail{
	background-color: #ac8f3c;
	display: inline-block;
	width: 120px;
	text-align: center;
	border-radius: 5px;
	color: #ffffff;
	font-size: 14pt;
	padding: 10px 20px;
}

.ContentDetail{
	max-width: 1195px;
	margin: 0 auto;
	padding: 10px 5px;
	background-color: white;
	color: #262626;
	text-align: justify;
}
/*/////////////Form////////////////*/


.CreateTask{
	border-radius: 7px;
	border: solid 1px;
	padding: 4px;
	width: 50%;
	outline: none;
	transition: box-shadow 0.3s;
}

.CreateTask:focus{
	box-shadow: 0 0 7px 1px rgb(252, 180, 71);
	border: 1px solid;
}



.CreateTaskForm input, textarea {
	margin: 2px 2px 5px 0; /*Верх, Право, Низ, Ліво*/
}

.CreateTaskText{
	border-radius: 8px;
	width: 97%;
	padding: 4px;
	outline: none;
	transition: box-shadow 0.3s;
}

.CreateTaskText:focus{
	box-shadow: 0 0 7px 1px rgb(252, 180, 71);
	border: 1px solid;
}

.select{
	width: 51%;
	margin-bottom: 4px;
	margin-top: 2px;
}

.button{
	padding: 10px 20px;
	border-radius: 5px;
	margin-top: 5px;
	background-color: #eed17e;
	border: none;
	transition: background-color 0.3s, box-shadow 0.3s;
}

.button:hover{
	background-color: #efb439;
	box-shadow: 0 0 7px 1px rgb(252, 180, 71);
}
/*////////////////////////////////*/


/*////////////popup////////////////*/
.popup{
	display: flex;
	align-content: center;
	justify-content: center;
    align-items: center;
	position: fixed;
	width: 160px;
	height: 160px;
	bottom: 20px;
	right: 20px;
	text-align: center;
	background-color: #b9ac8d;
	border: 8px solid #6e6243;
	border-radius:30px;
	padding: 10px;
	color: #93432e;
	transition: 200ms;

}
.popup:hover{
	box-shadow: 1px 1px 10px rgba(248, 197, 36, 0.78);
	width: 170px;
	height: 170px;
	bottom: 15px;
	right: 15px;
}
.popupH{
	margin: 10px;
	text-align: center;
	vertical-align: middle;
}
.popup a{
	text-decoration: none;
	color: #93432e;
	display: inline-block;

}
#x{
	position: absolute;
	top: 10px;
	right: 10px;
}
#x:hover{
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}
#pop{
	position: fixed;
	display: block;
	bottom: 3%;
	right: 1%;
	text-align: center;
	//font-size: 15px;
	//color: #262626;
	height: 50px;
	transition: 200ms;
}
#pop:hover{
	bottom: 4%;
	cursor: pointer;
}
#pop img{
	height: 60px;
}


/*/////////////////////////////////*/

/*//////////////footer/////////////*/

footer{
	padding:50px 0;
  	color:#f0f9ff;
  	background-color:#282d32;
}
.footerContainer{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1200px;
	//padding: 0 15px;
	margin: 0 auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	//margin: 0 -15px;
	padding-bottom: 10px;
	border-bottom: #5a5a5a solid 1px;
}
.row2{
	margin: 30px auto;
}
.row2 a{
	text-decoration: none;
	color: #9c9c9c;
	transition: 200ms;
}
.row2 a:hover{
	color: white;
}
.ulCont{
	width: 370px;
	padding: 0 15px;

}
.ulCont a{
	display: inline-block;
	text-decoration: none;
	color: #9c9c9c;
	margin: 2px 0;
	transition: 200ms;
}
.ulCont a:hover{
	color: white;
}
/*
footer a{
	color: #E6E6FA;
}
footer div{
	//display: inline-block;
	//width: 25%;
	padding-left: 100px;
	padding-right: 100px;
}
*/
@media (max-width: 1200px) {
	.center,
	.centerService,
	.ContentDetail,
	.cont,
	.footerContainer{
		max-width: 970px;
	}
	.row{
		justify-content: flex-start;
	}
}

@media (max-width: 992px) {
	.center,
	.ContentDetail,
	.centerService,
	.cont,
	.footerContainer{
		max-width: 750px;
	}
	.foot{
		display: none;
		width: auto;
	}
	.MobileFoot{
		display: inline;
	}
	header{
		text-align: left;
		height: auto;
	}
	.InTitle{
		margin-top: 0;
	}
	.row{
		justify-content: flex-start;
	}
}

@media (max-width: 767px) {
	.center,
	.ContentDetail,
	.centerService,
	.cont{
		max-width: none;
	}
	.footerContainer{
		width: auto;
		margin: 5px;
	}
	.IndexImg,
	.InTitleImg,
	.foot{
		display: none;
		width: auto;
	}
	.InTitleImgMobil{
		display: inline;
	}
	.InTitle{
		width: auto;
		padding: 0 5px;
	}
	.MobileFoot{
		display: inline;
	}
	.hh1{
		margin-top: 0;
	}
	header{
		text-align: left;
		height: auto;
	}
	.imgDetail img{
		width: 100%;
		height: auto;
	}
	.priceDetail{
		width: auto;
		display: block;
	}
	footer div{
		padding: 5px;
	}
	.advert h2{
		font-size: 12pt;
		width: 60px;
		height: 60px;
	}
	.advert div{
		font-size: 12px;
	}
}

@media (max-width: 460px) {
	.InTitle li{
		width: 95%;
	}
	.ulCont{
		width: auto;
		//padding: 5px;
	}
	.advert li{
		width: 120px;
	}
	.advert h2{
		font-size: 10pt;
		width: 45px;
		height: 45px;
	}
	.advert div{
		font-size: 12px;
	}
}