{% extends 'main/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    {{ detail.service }}
{% endblock %}


{% block content %}
    <h1>{{ detail.service }}</h1>
{% endblock %}
{% block contentFullWidth %}
<div style="display: inline-block;">
    {% if detail.description %}
        {% if detail.image %}<div class="imgDetail"><img src="{{ detail.image.url }}" alt="image" width="400px"></div>{% endif %}
        <p>{{ detail.description }}</p>
    {% else %}<h2>Ціна даної послуги:</h2>
    {% endif %}
</div>
    <div class="priceDetail">{{ detail.price }} {{ detail.si }}</div>

{% endblock %}