{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% translate 'Замовити послугу' %}
{% endblock %}


{% block content %}
    <h1>{% translate 'Замовити послугу' %}</h1>
    <p>{% translate 'Замовити послугу можна на сайті, за телефоном або в телеграмі' %}</p>
{% endblock %}
{% block contentFullWidth %}

<div class="cont">
    <form method="post" class="CreateTaskForm">
        {% csrf_token %}
        {{ form.tel_service }}<br>
        {{ form.name_service }}<br>
        {{ form.choice_service }}<br>
        {{ form.text_service }}<br>
        <span>{{ error }}</span>
        <button type="submit" class="button">{% translate 'Надіслати' %}</button>
    </form><br>
        <p>За номером:</p>
        <a href="tel:+380979900136" style="text-decoration: none; color: #262626">(097)-990-01-36</a>
    <br>
    <p>{% blocktranslate %}Або, також, пишіть нам:{% endblocktranslate %}</p>
    <a href="https://t.me/Good_Admin_Ua"><img src="{% static 'main/img/telegram.png' %}" alt="telegram" width="40px"></a>
    <a href=""><img src="{% static '/main/img/free-icon-viber-2111705.png' %}" alt="viber" width="40px"></a>

    <!--
    <a href=""><img src="{% static '/main/img/free-icon-messenger-2111402.png' %}" alt="messenger" width="40px"></a>
    <a href=""><img src="{% static '/main/img/free-icon-facebook-2111398.png' %}" alt="facebook" width="40px"></a>
    <a href=""><img src="{% static '/main/img/free-icon-instagram-2111463.png' %}" alt="instagram" width="40px"></a>
    -->
</div>

{% endblock %}